# ignore everything
*

# except git stuff
!.gitignore
!README.md
!_config.yml

# and scripts
!*.sh
!*.py
!*.rb
!*.js
!*.vbs

# and a few dotfiles
!*.zsh
!tmux.conf

# but do ignore testing
testing.sh
testing*.sh
testing.py
testing*.py
testing.rb
testing*.rb
testing.js
testing*.js